<nav class="navbar navbar-expand-lg navbar-dark bg-dark"">
<%= link_to pins_path do %>
  <%= image_tag asset_path('pata.gif'), class: 'img-custom' %>
 <%end %> 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
      <li class="nav-item">
      <%= link_to 'Crear Pin', new_pin_path , class:'nav-link' %>
        
      </li>
      
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>

      <% if user_signed_in? %>
        <a href= "/users/sign_out" data-method="DELETE"  class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign out</a>
        <%= current_user.email %>
      <%= image_tag current_user.avatar, class: 'img-custom img-circle'%>
       
      <% else %>
         <a href= "/users/sign_in" class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign in</a>
         <a href="/users/sign_up" class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign up</a>
       <% end %>
        
    </form>
  </div>
</nav>